.header-containter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  padding:8rem 1rem;
}
.header-column {
  flex-basis: 50%;
  min-width: 300px;
}
.header-column img {
  width: 100%;
  height: auto;
}
.header-column h1 {
  font-size: 3rem;
  margin: 2rem 0;
  color:#000;
}
.header-column p {
  color:#333;
}
.btn {
  display: inline-block;
  background: #FFF5F5;
  color: #fff;
  padding: 0.5rem 2.5rem;
  margin: 2.5rem 0;
  border-radius: 2.5rem;
  transition: background 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.btn:hover {
  background-color: #DD2476;
  cursor: pointer;
  
}
.explore-btn{
  text-decoration: none;
}
.explore-btn:hover{
  color: #fff;
}